body{
    font:16px/28px arial, sans-serif;
    background: rgb(201, 201, 201);
}
.container{
	position: relative;
}
.header{
	padding: 10px;
	position: relative;
}
.header .judul{
	width: 1313px;
	height: 70px;
	position: relative;
	font: 60px arial;
	
	font-weight: bold;
	color: rgb(0, 0, 0);
	text-align: center;
}
.search{
	font: 18px times new roman;
	padding-left: 970px;
	font-weight: bold;
	color: black;
    margin-top: -50px;
    text-align: justify;
}
.hr {
    width: 100%;
    height: 2px;
    background-color: rgb(120, 110, 189);
    margin-top: 10px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.image {
    width: 30rem;
    height: auto;
}
.mui-menu{
	background: rgb(120, 110, 189);
}
 
.mui-menu ul{
	padding: 0;
	margin: 0;
	background: rgb(120, 110, 189);
    overflow: hidden;
    text-decoration: none;
}
 
.mui-menu ul li{
	float: left;
	list-style-type: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}
.mui-content {
    
	float: left;
	height: 100%;
	width: 70%;	
}
.sidebar {
	float:right;
	width: 275px;
}
 
.sidebar .mui-widget {
	padding:25px;
	margin:0 0 25px;
	background:#fff;
	border-bottom: 2px solid #fff;
	transition: all 0.5s ease;
}
 
.sidebar .mui-widget:hover {
	border-bottom: 2px solid rgb(120, 110, 189);
}
 
.sidebar .mui-widget h2 {
	padding:0;
	margin:0 0 15px;
	color:#3498db;
	font-size: 18px;
	font-weight:800;
	text-transform: uppercase;
}
 
.sidebar .mui-widget p {
	font-size: 14px;
}
 
.sidebar .mui-widget p:last-child {
	margin:0;
}